/* all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("https://img.freepik.com/free-vector/memphis-background-vector-with-multicolor_53876-126692.jpg?ga=GA1.1.204480549.1745130665&semt=ais_hybrid&w=740");
  background-size: cover;
}

/* Home */
header {
  background-color: rgb(255, 209, 157);
  z-index: 1000;
  position: sticky;
  top: 0;
  font-weight: bold;
  padding: 30px 100px 30px 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
header a {
  text-decoration: none;
}
header .logo a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  align-items: start;
}

nav a {
  color: black;
}

nav ul {
  font-size: 20px;
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 55px;
}

nav ul li a {
  box-sizing: border-box;
  padding: 5px;
}

nav ul li a:hover {
  padding: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
}

.home section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section main {
  text-align: center;
}
section main img {
  width: 200px;
  /* outline: 10px solid rgb(224, 224, 224); */
  border-radius: 50%;
  margin-bottom: 10px;
}

section main h1 {
  font-size: 35px;
}

.media {
  display: flex;
  gap: 30px;
}
.media a img {
  margin-top: 20px;
  width: 20px;
}
#typewritter {
  overflow: hidden;
  white-space: nowrap;
  font-size: 24px;
  border-right: 2px solid black; /* Simulasi kursor */
  width: 0; /* Awalnya tidak terlihat */
  animation: typing 2s steps(30, end) forwards, blink 0.6s infinite;
}
/* Animation */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* ################################################ */

/* About */
.about {
  display: flex;
  margin: 70px 150px 400px 150px;
  gap: 50px;
}

.about img {
  border-radius: 50%;
  outline: 5px solid rgb(211, 211, 211);
  box-shadow: 10px 10px 10px 10px rgba(211, 211, 211, 0.295);
  width: 300px;
}
.about .text {
  margin-top: 50px;
}

.experience {
  gap: 100px;
  display: flex;
  margin: 70px 150px 55px 150px;
  text-align: center;
  justify-content: center;
}

.experience .textLeft {
  text-align: left;
  align-items: center;
}
.experience img {
  outline: 5px solid rgb(211, 211, 211);
  box-shadow: 10px 10px 10px 10px rgba(211, 211, 211, 0.295);
  width: 250px;
  border-radius: 55px 150px 70px 150px;
}

/* abotu achievment */
.achievment {
  display: flex;
  margin: 400px 150px 500px 150px;
  gap: 100px;
}

.achievment img {
  border-radius: 55px 150px 70px 150px;
  outline: 5px solid rgb(211, 211, 211);
  box-shadow: 10px 10px 10px 10px rgba(211, 211, 211, 0.295);
  width: 300px;
}
.achievment .text {
  margin-top: 50px;
}
/* ####### */
