/* all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Home */
header {
  font-weight: bold;
  padding: 70px 100px 55px 100px;
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
}
header .logo a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  align-items: start;
}

nav a {
  color: black;
}

nav ul {
  font-size: 20px;
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 55px;
}

nav ul li a:hover {
  padding: 5px;
  background-color: rgb(70, 69, 69);
  color: white;
  border-radius: 10px;
}

.home section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section main {
  text-align: center;
}
section main img {
  width: 200px;
  /* outline: 10px solid rgb(224, 224, 224); */
  border-radius: 50%;
  margin-bottom: 10px;
}

section main h1 {
  font-size: 35px;
}

.media {
  display: flex;
  gap: 30px;
}
.media a img {
  margin-top: 20px;
  width: 20px;
}
#typewritter {
  overflow: hidden;
  white-space: nowrap;
  font-size: 24px;
  border-right: 2px solid black; /* Simulasi kursor */
  width: 0; /* Awalnya tidak terlihat */
  animation: typing 2s steps(30, end) forwards, blink 0.6s infinite;
}
/* Animation */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* ################################################ */

/* About */
.about {
  display: flex;
  margin: 70px 150px 55px 150px;
  gap: 50px;
}

.about img {
  border-radius: 50% 50% 900px 100px;
  width: 300px;
}
.about .text {
  margin-top: 50px;
}

.achievement {
  display: flex;
  flex-direction: row-reverse;
  margin: 70px 150px 55px 150px;
  gap: 50px;
}

.achievement img {
  border-radius: 50% 50% 900px 100px;
  width: 300px;
}
.achievement .text {
  margin-top: 50px;
}
